<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>753486984690-nfbmgpebf1qdpd3j2pmo3eo7627sa6kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753486984690-nfbmgpebf1qdpd3j2pmo3eo7627sa6kk</string>
	<key>API_KEY</key>
	<string>AIzaSyCnlQvwRKCQy-myHwt4vL7J0dcyIta99C0</string>
	<key>GCM_SENDER_ID</key>
	<string>753486984690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielaraujos.MonitoriaUFV</string>
	<key>PROJECT_ID</key>
	<string>monitoriaufv-65054</string>
	<key>STORAGE_BUCKET</key>
	<string>monitoriaufv-65054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753486984690:ios:29fb8077cb590b43</string>
	<key>DATABASE_URL</key>
	<string>https://monitoriaufv-65054.firebaseio.com</string>
</dict>
</plist>