<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonitoriaUFV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C27D9241F435F0D00CF8E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C27D93B1F435F0D00CF8E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C27D9461F435F0D00CF8E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
